@{
    ViewData["Title"] = "Home Page";
}
@model ProjectsListViewModel

    <h1>The Water Project</h1>

  
    @foreach (Project p in Model.Projects)
    {
        <h3>@p.ProjectName</h3>
        <ul>
            <li>Project Type: @p.ProjectType</li>
            <li>Regional Program: @p.ProgramName</li>
            <li>Impact: @p.ProjectImpact served</li>
            <li>Project Phase: @p.ProjectPhase</li>
            <li>Installation Date: @p.ProjectInstallation</li>
        </ul>
    }

@*Making own tags to pass it in make sure add to _ViewImports so means something*@
<div page-model="@Model.PaginationInfo" page-action="Index"></div>